@tailwind base;
@tailwind components;
@tailwind utilities;

// button, input, optgroup, select, textarea {
//   border: 2px solid !important;
// }

a {
  --color: theme('colors.emerald.700');
  --color-hover: theme('colors.emerald.800');

  color: var(--color);
  font-weight: bold;

  &:hover,
  &:focus {
    color: var(--color-hover);
  }

  @media (prefers-color-scheme: dark) {
    --color: theme('colors.emerald.400');
    --color-hover: theme('colors.emerald.300');
  }
}

input {
  outline: none;
}

hr {
  --color: theme('colors.gray.200');
  border-color: var(--color);

  @media (prefers-color-scheme: dark) {
    --color: theme('colors.neutral.700');
  }
}
